/**** CSS RESET ****/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/***** FONTS *****/

@font-face { 
  font-family: "Inter-Light";
  font-style: light;
  font-weight: 300;
  src: 
    url(/fonts/Inter-Light.ttf) format("truetype");
}

/***** COLOURS *****/


  :root {
    --red: #CF1313;
    --green: #65CF13;
    --blue: #4A5CFF;
    --white: #ffffff;
}

/****** STYLE GAME *******/

body {
  font-family: 'Inter-Light';
  font-size: 2rem;
  color: var(--white);
  background-image: linear-gradient(to right top, #ffaaaa, #fea2a2, #fd9a9a, #fc9191, #fa8989);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
}

.label-operator {
  display: block;
}

#wrap-operator,
#wrap-high-score {
  font-size: 1.2rem;
}

#list-operator,
#list-high-score {
  list-style: none;
  padding: 0;
}

#wrap-question {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/******* Input text and num *******/

input {
  text-align: center;
}

#answer {
  width: 10rem;
  border: none;
  margin-bottom: 5rem;
}

#high-score-name {
  margin-top: 1rem;
  border: none;
  width: 12rem;
}

/*Removing arrow buttons from input*/
#answer::-webkit-inner-spin-button,
#answer::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

#answer {
  -moz-appearance: textfield !important;
}

/******* Radio Buttons *******/

input[type="radio"] {
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
} 

.label-operator {
  display: block;
  cursor: pointer;
}

/******* BUTTONS *******/

.btn-main {
  width: 10rem;
  border: 3px solid var(--white);
  color: inherit;
  border-radius: 12px;
}

#btn-start {
  background-color: var(--green);
  margin-bottom: 0.7rem;
  /* display: none; */
}

#btn-timer {
  background-color: var(--red);
}

#btn-start:hover,
.btn-operator:hover {
  cursor: pointer;
}

#btn-play-again {
  display: inline-block;
  width: 15rem;
  background-color: var(--green);
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

#btn-play-again:hover {
  cursor: pointer;
}

/******* ICONS *******/

#coins {
  text-align: center;
}

.party-popper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

/******* STYLE GAME-OVER & FINAL SCORE *******/

/* Final Score High Score */

#wrap-final-score-highscore {
  display: none; /* Javascript = display: block */
  text-align: center;
}

#text-if-high-score {
  margin-top: 0rem;
}

/* Final Score Normal */

#wrap-final-score {
  /* margin-top: 5rem; */
  text-align: center;
  display: none; /* Javascript = display: block */
}

#text-if-not-high-score {
  margin-top: 5rem;
}

