/**** CSS RESET ****/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/**** FONTS *****/

@font-face { 
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: 
    url(/fonts/Inter-Medium.ttf) format("truetype");
}

@font-face { 
  font-family: "Inter-Light";
  font-style: light;
  font-weight: 300;
  src: 
    url(/fonts/Inter-Light.ttf) format("truetype");
}

@font-face { 
  font-family: "Inter-Bold";
  font-style: bold;
  font-weight: 800;
  src: 
    url(/fonts/Inter-ExtraBold.ttf) format("truetype");
}

/**** COLOURS ****/


  :root {
    --red: #CF1313;
    --green: #65CF13;
    --blue: #4A5CFF;
    --white: #ffffff;
}

/**** STYLE ****/

body {
  font-family: 'Inter-Light';
  font-size: 2rem;
  color: var(--white);
  background-image: linear-gradient(to right top, #ffaaaa, #fea2a2, #fd9a9a, #fc9191, #fa8989);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
}

#wrap-operator,
#wrap-high-score {
  font-size: 1.2rem;
}

#list-operator,
#list-high-score {
  list-style: none;
  padding: 0;
}

#question-wrap {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* #addition {
  font-family: 'Inter-Bold';
  font-weight: 800;
} */

/* Inputs */
#answer {
  text-align: center;
  width: 10rem;
  border: none;
  margin-bottom: 5rem;
}

#high-score-name {
  border: none;
  width: 10rem;
  margin-bottom: 5rem;
}

/*Removing arrow buttons from input*/
#answer::-webkit-inner-spin-button,
#answer::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

#answer {
    -moz-appearance: textfield !important;
}

/* BUTTONS */
.btn-main {
  width: 10rem;
  border: 3px solid var(--white);
  color: inherit;
}

#btn-timer {
  background-color: var(--red);
  margin-bottom: 1rem;
  /* display: none; */
}

#btn-start {
  background-color: var(--green);
  /* display: none; */
}


.btn-operator {
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

#btn-start:hover,
.btn-operator:hover {
  cursor: pointer;
}

/**** Dynamic CSS ****/

/* Final Score High Score */

/* display: block */
#final-score-highscore {
  display: none;
  text-align: center;
}


/* #wrap-final-score {
  display: block;
} 

.btn-main,
#wrap-operator,
#wrap-high-score,
#question-wrap,
#answer,
#wrap-current-score,
#wrap-operator,
#wrap-high-score {
  display: none;
} */


#you-made-it {
  margin-bottom: 5rem;
}

#high-score-name {
  margin-top: 1rem;
}

#party-popper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Final Score Normal */

/* Display Block */
#wrap-final-score {
  margin-top: 5rem;
  display: none;
}
/* Display Block */
#press-enter {
  display: none;
}

/*
#wrap-current-score,
#wrap-answer,
#question-wrap {
  display: none;
} */




